{% form 'customer', data-disable-recaptcha: 'true' %}
  <!-- form fields here -->
{% endform %}


<!-- Email Signup Button & Hidden Form -->
<div class="email-signup-toggle">
  <button
    class="restock-toggle-btn"
    data-target="form-{{ section.id }}"
  >Email When Available
  <svg class="email-button-icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<path class="email-button-icon" d="M14.2042 10.5H0V8.16667H14.2042L7.67083 1.63333L9.33333 0L18.6667 9.33333L9.33333 18.6667L7.67083 17.0333L14.2042 10.5Z" fill="white"/>
</svg> </button>

  <div
    id="form-{{ section.id }}"
    style="display:none;"
  >
    {% form 'customer', data-disable-recaptcha: 'true' %}
            <input class="email-stock-signup" type="hidden" name="contact[tags]" value="{{ product.id }}-{{ variant.id }}, restock-{{ product.title | handleize }}-{{ variant.title | handleize }}" >

      <label>Email address</label>
      <input
        type="email"
        name="contact[email]"
        placeholder="Enter your email"
        required
      >
      <button type="submit" class="email-stock-submit" >Notify Me</button>
    {% endform %}
  </div>
<style>
.restock-toggle-btn {
  background: #2F5CAC;
  color: #ffffff;
  padding: 4px 6px; 
  border: none; 
  font-weight: bold; 
  display: flex; 
  flex-direction: row; 
  align-items: center;
  gap: 4px; 
}

.email-button-icon {
    width: .7rem; 
    height: auto; 
}


.email-stock-submit {
  background: #2F5CAC;
  color: #ffffff;
  padding: 4px 6px; 
  border: none; 
  font-weight: bold; 
}

.email-stock-signup {
border: 1px solid #d9d9d9 !important; 
   
}

input {
border: 1px solid #d9d9d9 !important; 

}

.email-signup-toggle {
padding-top: 5px; 

}


</style>




</div>
