{% layout 'theme' %}
<h1>{{ 'customer.activate_account.title' | t }}</h1>

{%- assign token = request.params.activation_token | default: request.params.reset_password_token -%}

{% if token %}
  {% form 'customer_activate' %}
    <input type="hidden" name="customer[reset_password_token]" value="{{ token }}">

    <label for="ActivatePassword">{{ 'customer.activate_account.password' | t }}</label>
    <input id="ActivatePassword" name="customer[password]" type="password" required>

    <button type="submit">{{ 'customer.activate_account.submit' | t }}</button>
  {% endform %}
{% else %}
  <p>{{ 'customer.activate_account.missing_token' | t }}</p>
  <a href="{{ routes.login_url }}">{{ 'customer.login.title' | t }}</a>
{% endif %}