{% layout 'theme' %}
<h1>{{ 'customer.register.title' | t }}</h1>

{% if customer %}
  <p>{{ 'customer.register.already_account' | t }}</p>
  <a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a>
{% else %}
  {% form 'create_customer' %}
    <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
    <input id="FirstName" name="customer[first_name]" type="text">

    <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
    <input id="LastName" name="customer[last_name]" type="text">

    <label for="Email">{{ 'customer.register.email' | t }}</label>
    <input id="Email" name="customer[email]" type="email" required>

    <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
    <input id="CreatePassword" name="customer[password]" type="password" required>

    <button type="submit">{{ 'customer.register.submit' | t }}</button>

    <p>
      <a href="{{ routes.login_url }}">{{ 'customer.register.login' | t }}</a>
    </p>
  {% endform %}
{% endif %}