{% layout 'theme' %}
<h1>{{ 'customer.reset_password.title' | t }}</h1>

{% form 'recover_customer_password' %}
  <label for="RecoverEmail">{{ 'customer.reset_password.email' | t }}</label>
  <input id="RecoverEmail" name="email" type="email" required>

  <button type="submit">{{ 'customer.reset_password.submit' | t }}</button>

  <p>
    <a href="{{ routes.login_url }}">{{ 'customer.reset_password.back_to_login' | t }}</a>
  </p>
{% endform %}